<div id="footer" class="footer">
	<p>电话：86-0755-36850864</p>
	<p>移动电话：13802566849</p>
	<p>传真：86-0755-29914954</p>
	<p>地址：中国广东省深圳市西乡街道固戍沙湾村29号荣厦兴厂房7楼</p>
</div>
<script>
	(function(){
		var comp = window.screen.availHeight - document.body.clientHeight - 165;
		if(comp > 0){
			document.getElementById('footer').className = 'footer fixed';
		}
	})();
	// 百度统计
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?7cab86e87625c77f05313e04a6d6e92d";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script>