<div id="footer" class="footer">
	<p>电话：86-0755-36850864</p>
	<p>移动电话：13802566849</p>
	<p>传真：86-0755-29914954</p>
	<p>Copyright © 2014 深圳市骏泓源科技有限公司 All Rights Reserved.&nbsp;&nbsp;<a href="http://www.miibeian.gov.cn" target="_blank">粤ICP备16031379号-1</a></p>
</div>
<script>
	(function(){
		var comp = window.screen.availHeight - document.body.clientHeight - 180;
		if(comp > 0){
			document.getElementById('footer').className = 'footer fixed';
		}
	})();
	// 百度统计
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?7cab86e87625c77f05313e04a6d6e92d";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script>