<div class="header">
	<a href="/"><img class="logo-wrap" src="images/header_logo.png"></a>
	<ul class="navs">
		<li><a href="/" <% if(nav==0) { %> class="active" <% } %> >主页</a></li>
		<li><a href="/product" <% if(nav==1) { %> class="active" <% } %> >公司产品</a></li>
		<li><a href="/news" <% if(nav==2) { %> class="active" <% } %> >新闻中心</a></li>
		<li><a href="/contact" <% if(nav==3) { %> class="active" <% } %> >联系我们</a></li>
		<li><a href="/about" <% if(nav==4) { %> class="active" <% } %> >关于我们</a></li>
	</ul>
</div>