<style type="text/css">
  .kefu {
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -100px;
    width: 130px;
    padding: 6px;
    z-index: 9;
    background-color: #029bdb;
  }
  .kefu .kefu-title {
    width: 130px;
  }
  .kefu .kefu-content {
    background-color: #fbfbfb;
    text-align: center;
    padding-top: 10px;
  }
  .kefu .kefu-content li {
    padding-bottom: 6px;
  }
</style>
<div class="kefu">
  <img src="./images/kefu.jpg" class="kefu-title">
  <ul class="kefu-content">
    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=619761977&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:412644012:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a></li>
    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=568984308&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:502207193:51" alt="点击这里给我发消息" title="点击这里给我发消息"></a></li>
  </ul>
</div>
