<style type="text/css">
  .kefu {
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -80px;
    width: 100px;
    padding: 6px;
    z-index: 9;
    background-color: #0066c0;
  }
  .kefu .kefu-title {
    line-height: 30px;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }
  .kefu .kefu-content {
    background-color: #fbfbfb;
    text-align: center;
    padding-top: 8px;
  }
  .kefu .kefu-content li {
    padding-bottom: 4px;
  }
</style>
<div class="kefu">
  <p class="kefu-title">在线客服</p>
  <ul class="kefu-content">
    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=619761977&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:619761977:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=823691810&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:499684461:41" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></li>
  </ul>
</div>
