<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<title>骏泓源-产品管理</title>
<style type="text/css">
	.content{
		padding-top: 10px;
		padding-right: 10px;
	  padding-left: 110px;
	}
	.margin-bottom {
	  margin-bottom: 10px;
	}
	nav {
		text-align: center;
	}
</style>
</head>
<body>

<%- include('nav.html', {nav: 1}) %>
<div class="content">

	<a href="/manage/editProduct" target="_blank" type="button" class="btn btn-primary margin-bottom">新增产品</a>

	<table class="table table-striped table-hover table-bordered" id="product-table">
	  <thead>
	  	<th>产品名</th><th>产品类别</th><th>最后修改人</th><th>最后修改时间</th><th>创建人</th><th>创建时间</th><th>浏览量</th><th>是否推荐</th><th>是否删除</th><th>操作</th>
	  </thead>
	  <tbody>
	  <% products.forEach(function(doc){ %>
	    <tr data-index="<%= doc.index %>">
	    	<td><a href="/product?index=<%= doc.index %>" target="_blank"><%= doc.name %></a></td>
	    	<td><%= ['电源适配器','USB充电器','锂电池充电器'][doc.classify] %></td>
	    	<td><%= doc.last_user %></td>
	    	<td><%= doc.update_time %></td>
	    	<td><%= doc.first_user %></td>
	    	<td><%= doc.add_time %></td>
	    	<td><%= doc.pv %></td>
	    	<td>
	    		<input class="js-operate" data-operation="recommend" type="checkbox" <% if(doc.recommend==1){ %> checked <% } %> >
	    	</td>
	    	<td>
	    		<input class="js-operate" data-operation="ifDelete" type="checkbox" <% if(doc.ifDelete==1){ %> checked <% } %> >
	    	</td>
	    	<td><a href="/manage/editProduct?index=<%= doc.index %>" target="_blank">编辑</a></td>
	    </tr>
	  <% }); %>
	  	
	  </tbody>
	  <tfoot>
	  	<p class="text-danger">备注：1.推荐产品会优先显示；2.删除的产品不会显示在公司产品列表中</p>
	  </tfoot>
	</table>
	<nav>
		<ul class="pagination" id="pagination">
	    <li <% if(locals.page==1){ %> class="disabled"  <% } %> >
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	      </a>
	    </li>
	    
	    <li <% if(locals.page==locals.amount || locals.amount<2){ %> class="disabled"  <% } %> >
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	      </a>
	    </li>
	  </ul>
	</nav>


</div>
<input id="csrf" type="hidden" name="_csrf" value="<%= csrfToken %>">



<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(function() {

	(function(){
		
		var page = +<%= locals.page %>,
				amount = +<%= locals.amount %>,
				paginationHtml = '',
				ellipsisHtml = '<li class="disabled"><a href="#">...</a></li>';
		if(amount<1){return false;}
		if(amount>10){
			if(page<8){
				for (var i = 1; i < 9; i++) {
					paginationHtml += parsePage(page, i);
				};
				paginationHtml += ellipsisHtml + '<li data-page="'+amount+'"><a href="#">'+amount+'</a></li>';
			}else if(page>amount-7){
				paginationHtml += '<li data-page="1"><a href="#">1</a></li><li class="disabled"><a href="#">...</a></li>';
				for (var i = amount-7; i <=amount; i++) {
					paginationHtml += parsePage(page, i);
				};
				
			}else{
				paginationHtml += '<li data-page="1"><a href="#">1</a></li>' + ellipsisHtml;
				var temp = page+3;
				for (var i = page-3; i <temp; i++) {
					paginationHtml += parsePage(page, i);
				};
				paginationHtml += ellipsisHtml + '<li data-page="'+amount+'"><a href="#">'+amount+'</a></li>';
			}
		}else{
			for (var i = 1; i <= amount; i++) {
				paginationHtml += parsePage(page, i);
			}
		}
		$('#pagination li').eq(0).after(paginationHtml);
	})();
	function parsePage(targetPage, curPage){
		var _class = targetPage===curPage ? 'class="active"' : '',
				_html = '<li '+_class+' data-page="'+curPage+'"><a href="#">'+curPage+'</a></li>';
		return _html;
	}
	$('#pagination').on('click', 'li', function(event) {
		var $li = $(this);
		if($li.hasClass('disabled')||$li.hasClass('active')){
			return false;
		}
		var label = $li.children('a').attr('aria-label'),
				page;
		switch(label){
			case 'Previous':
				page = $li.siblings('.active').attr('data-page') - 1;
				break;
			case 'Next':
				page = +$li.siblings('.active').attr('data-page') + 1;
				break;
			default:
				page = $li.attr('data-page');
		}
		window.location = '/manage/product?page='+page;
	}).on('click', 'a', function(event) {
		event.preventDefault();
	});



	$('#product-table').on('change', '.js-operate', function(event) {
		var operation = $(this).attr('data-operation'),
				value = this.checked ? 1 : 0,
				$tr = $(this).closest('tr'),
				index = $tr.attr('data-index');
		$.ajax({
			url: '/product/operate',
			type: 'POST',
			dataType: 'json',
			data: {index: index, operation: operation, value: value, _csrf: $('#csrf').val()},
		})
		.done(function(data) {
			if(data.status===0){
				alert('修改成功');
			} else {
				alert(data.data);
			}
		})
		.fail(function() {
			alert('修改失败，请重试');
		})
		.always(function() {
			;
		});
	});
	

});
</script>

</body>
</html>