<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" /> 
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<title>骏泓源-后台管理</title>
<style type="text/css">
	.content{
		padding-top: 10px;
		padding-right: 10px;
	  padding-left: 110px;
	}
</style>
</head>
<body>

<%- include('nav.html', {nav: 0}) %>
<div class="content">
	 <h1>Welcome, <%= email %> </h1>
</div>

</body>

<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">

</script>

</html>